<table cellspacing="1" cellpadding="3" border="0">

<h1>Welcome to the {{ campaign_name }} login page!</h1>

<form action="https://dev.andwellness.org/app/auth" method="post">
<tr><td width="45%" align="right"> 
Username:</td><td>
<input type="text" name="username" size="25" maxlength="40" />
</td></tr><tr><td align="right">
Password:</td><td>
<input type="password" name="password" size="25" maxlength="32" />
</td></tr><tr align="center"><td colspan="2">
Log me on automatically each visit: <input type="checkbox" name="autologin" checked="true" />
</td></tr><tr align="center"><td colspan="2">
<input type="submit" class="mainoption" name="login" value="Log in" />
</td></tr></table></form>
